.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: var(--light);
}

.contentWrapper {
    flex-grow: 1;
    margin: 0 auto;
    padding: 1rem;
}

.footerWrapper {
    background: var(--dark);
    color: var(--light);
    padding: 1rem;
    font-weight: 300;
    text-align: center;
}

.footerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.githubMark {
    width: 1.5rem;
}